@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-stretch: 75% 100%; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    border-radius: 10px;
}

.number {
    background-color: none;
}

.mainbody {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* Row 1 */
.row1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.inputpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88304E;
    border: 3px solid white;
    width: 400px;
    min-width: 300px;
    max-width: 400px;
    flex-shrink: 0;
    justify-content: space-evenly;

}

.dropDownGroup {
    margin-top: 10px;
    background-color: #522546;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelDropdown {
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bolder;
    color: white;
}

.algoDropdown {
    width: 300px;
    height: 40px;
}

.qsGroup {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 300px;
    background-color: #522546;
    padding: 10px;
    justify-content: space-evenly;
}

.tsGroup, .quantumGroup, .numProcessGroup {
    display: flex;
    flex-direction: column;
    align-content: space-evenly; 
}

.tsLabel, .quantumLabel, .numProcessLabel {
    font-size: small;
    font-weight: bolder;
    margin-bottom: 10px;
    color: white;
}

.tsInput, .allotmentInput,.numProcessInput{
    width: 80px;
    height: 30px;
}

.submitGroup {
    width: 320px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.startButton {
    color: white;
    background-color: #F7374F;
    font-size: medium;
    font-weight: bolder;
    height: 50px;
    width: 140px;
}

.startButton:hover{
    background-color: #FD4E63;
}

.ganttitlepanel {
    background-color: lightgoldenrodyellow;
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}


.titlepanel {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: #2C2C2C;
    flex: 1;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: rgb(231, 231, 231);
    font-family: 'Square';
    text-align: center;
    line-height: 150px;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 1);
    font-size: 28px;
}


.ganttpanel {
    background-color: #522546;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 3px 3px 3px 3px;
    border-color: white;
    border-style: solid;
}

.ganttGroup {
    display: flex;
    height: 90%;
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px;
    position: relative;
    margin: 0 20px 0 5px;
    box-sizing: border-box;
}

.ganttBlock {
    width: 0px; /* Start hidden */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    border: 1px solid #222;
    border-radius: 4px;
    transition: width 0.2s linear;
    background-color: #888;
    padding: 0 6px;
    white-space: pre;
    position: relative;
    flex-shrink: 0; 
}

/* Row 2 */
.row2 {
    flex:1;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.row2 > *{
    border-style: solid;
    border-color: white;
    border-width: 3px !important; 
}

.resultpanel {
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #88304E;
    min-width: 400px;
    overflow: hidden;
    padding-top: 20px;
}

.resultTableGroup {
    background-color: #522546;
    height: auto;
    max-height: 380px;
    width: 95%;
    overflow-y: auto;
}

.processTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.processTable thead th {
    border-radius: 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    color: white;
}

th{
    color: black;
}

.progress {
    height: 20px;
    padding: 10px;
    overflow: hidden;
}

.progress div {
    background-color: rgb(0, 255, 115);
    height: 100%;
    width: 30%;
    transition: width 0.3s ease;
}

.mlfqresultpanel {
    color: white;
    background-color: #39082c;
    flex: 1;
    padding: 30px;
    min-width: 300px;
    overflow: hidden;
    border-color: white;
    border-style: solid;
    border-width: 0 3px 3px 3px;
}

.monitoringPanel {
    background-color: #F7374F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    height: 90%;
    margin-top: 10px;
}

.logspanel {
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #88304E;
    min-width: 300px;
    max-width: 430px;
    overflow: hidden;
    padding: 15px;
    border-color: white;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    flex-shrink: 1;
    flex-grow: 0;
}

.logsbg{
    padding: 15px;
    background-color: #2C2C2C;
    width: 90%;
}

.logsGroup {
    height: 380px;
    max-height: 380px;
    flex: 1;
    color: rgb(0, 148, 0);
    font-size: 18px;
    font-family: monospace;
    overflow-y: auto;
}

.timenum{

    font-size: 20px;
}

input {
    padding-left: 10px;
}

